<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76196674243-38lr2f06mjginnq0lmvtr1ou22dij0qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76196674243-38lr2f06mjginnq0lmvtr1ou22dij0qs</string>
	<key>API_KEY</key>
	<string>AIzaSyDXAJuz2GXwisef6cTwqWTtGsiralgCcUI</string>
	<key>GCM_SENDER_ID</key>
	<string>76196674243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stdk.ios.MountainManager</string>
	<key>PROJECT_ID</key>
	<string>mountainmanager-8265c</string>
	<key>STORAGE_BUCKET</key>
	<string>mountainmanager-8265c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76196674243:ios:a247286a4b2d51110b0076</string>
</dict>
</plist>